.contenido {
    padding: 0 15px;
}

.divHome {
    background-image: url('./img/fondo.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
}

.formHome {
    background: rgba(255, 255, 255, 0.8);
    
}